<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>State</key>
		<string>帮我定位</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>北京市</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>北京市</string>
				<key>Areas</key>
				<array>
					<string>东城区</string>
					<string>西城区</string>
					<string>崇文区</string>
					<string>宣武区</string>
					<string>朝阳区</string>
					<string>丰台区</string>
					<string>石景山区</string>
					<string>海淀区</string>
					<string>门头沟区</string>
					<string>房山区</string>
					<string>通州区</string>
					<string>顺义区</string>
					<string>昌平区</string>
					<string>大兴区</string>
					<string>怀柔区</string>
					<string>平谷区</string>
					<string>密云县</string>
					<string>延庆县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>天津市</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>天津市</string>
				<key>Areas</key>
				<array>
					<string>和平区</string>
					<string>河东区</string>
					<string>河西区</string>
					<string>南开区</string>
					<string>河北区</string>
					<string>红桥区</string>
					<string>塘沽区</string>
					<string>汉沽区</string>
					<string>大港区</string>
					<string>东丽区</string>
					<string>西青区</string>
					<string>津南区</string>
					<string>北辰区</string>
					<string>武清区</string>
					<string>宝坻区</string>
					<string>宁河县</string>
					<string>静海县</string>
					<string>蓟县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>河北省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>石家庄市</string>
				<key>Areas</key>
				<array>
					<string>长安区</string>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>新华区</string>
					<string>井陉矿区</string>
					<string>裕华区</string>
					<string>井陉县</string>
					<string>正定县</string>
					<string>栾城县</string>
					<string>行唐县</string>
					<string>灵寿县</string>
					<string>高邑县</string>
					<string>深泽县</string>
					<string>赞皇县</string>
					<string>无极县</string>
					<string>平山县</string>
					<string>元氏县</string>
					<string>赵县</string>
					<string>辛集</string>
					<string>藁城</string>
					<string>晋州</string>
					<string>新乐</string>
					<string>鹿泉</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>唐山市</string>
				<key>Areas</key>
				<array>
					<string>路南区</string>
					<string>路北区</string>
					<string>古冶区</string>
					<string>开平区</string>
					<string>丰南区</string>
					<string>丰润区</string>
					<string>滦县</string>
					<string>滦南县</string>
					<string>乐亭县</string>
					<string>迁西县</string>
					<string>玉田县</string>
					<string>唐海县</string>
					<string>遵化</string>
					<string>迁安</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>秦皇岛市</string>
				<key>Areas</key>
				<array>
					<string>海港区</string>
					<string>山海关区</string>
					<string>戴河区</string>
					<string>青龙满族自治县</string>
					<string>昌黎县</string>
					<string>抚宁县</string>
					<string>卢龙县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>邯郸市</string>
				<key>Areas</key>
				<array>
					<string>邯山区</string>
					<string>丛台区</string>
					<string>复兴区</string>
					<string>峰峰矿区</string>
					<string>邯郸县</string>
					<string>临漳县</string>
					<string>成安县</string>
					<string>大名县</string>
					<string>涉县</string>
					<string>磁县</string>
					<string>肥乡县</string>
					<string>永年县</string>
					<string>邱县</string>
					<string>鸡泽县</string>
					<string>广平县</string>
					<string>馆陶县</string>
					<string>魏县</string>
					<string>曲周县</string>
					<string>武安</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>邢台市</string>
				<key>Areas</key>
				<array>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>邢台县</string>
					<string>临城县</string>
					<string>内丘县</string>
					<string>柏乡县</string>
					<string>隆尧县</string>
					<string>任县</string>
					<string>南和县</string>
					<string>宁晋县</string>
					<string>巨鹿县</string>
					<string>新河县</string>
					<string>广宗县</string>
					<string>平乡县</string>
					<string>威县</string>
					<string>清河县</string>
					<string>临西县</string>
					<string>南宫</string>
					<string>沙河</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>保定市</string>
				<key>Areas</key>
				<array>
					<string>新区</string>
					<string>北区</string>
					<string>南区</string>
					<string>满城县</string>
					<string>清苑县</string>
					<string>涞水县</string>
					<string>阜平县</string>
					<string>徐水县</string>
					<string>定兴县</string>
					<string>唐县</string>
					<string>高阳县</string>
					<string>容城县</string>
					<string>涞源县</string>
					<string>望都县</string>
					<string>安新县</string>
					<string>易县</string>
					<string>曲阳县</string>
					<string>蠡县</string>
					<string>顺平县</string>
					<string>博野县</string>
					<string>雄县</string>
					<string>涿州</string>
					<string>定州</string>
					<string>安国</string>
					<string>高碑店</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>张家口市</string>
				<key>Areas</key>
				<array>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>宣化区</string>
					<string>下花园区</string>
					<string>宣化县</string>
					<string>张北县</string>
					<string>康保县</string>
					<string>沽源县</string>
					<string>尚义县</string>
					<string>蔚县</string>
					<string>阳原县</string>
					<string>怀安县</string>
					<string>万全县</string>
					<string>怀来县</string>
					<string>涿鹿县</string>
					<string>赤城县</string>
					<string>崇礼县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>承德市</string>
				<key>Areas</key>
				<array>
					<string>双桥区</string>
					<string>双滦区</string>
					<string>鹰手营子矿区</string>
					<string>承德县</string>
					<string>兴隆县</string>
					<string>平泉县</string>
					<string>滦平县</string>
					<string>隆化县</string>
					<string>丰宁满族自治县</string>
					<string>宽城满族自治县</string>
					<string>围场满族蒙古族自治县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>沧州市</string>
				<key>Areas</key>
				<array>
					<string>新华区</string>
					<string>运河区</string>
					<string>沧县</string>
					<string>青县</string>
					<string>东光县</string>
					<string>海兴县</string>
					<string>盐山县</string>
					<string>肃宁县</string>
					<string>南皮县</string>
					<string>吴桥县</string>
					<string>献县</string>
					<string>孟村回族自治县</string>
					<string>泊头</string>
					<string>任丘</string>
					<string>黄骅</string>
					<string>河间</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>廊坊市</string>
				<key>Areas</key>
				<array>
					<string>安次区</string>
					<string>广阳区</string>
					<string>固安县</string>
					<string>永清县</string>
					<string>香河县</string>
					<string>大城县</string>
					<string>文安县</string>
					<string>大厂回族自治县</string>
					<string>霸州</string>
					<string>三河</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>衡水市</string>
				<key>Areas</key>
				<array>
					<string>桃城区</string>
					<string>枣强县</string>
					<string>武邑县</string>
					<string>武强县</string>
					<string>饶阳县</string>
					<string>安平县</string>
					<string>故城县</string>
					<string>景县</string>
					<string>阜城县</string>
					<string>冀州</string>
					<string>深州</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>山西省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>太原市</string>
				<key>Areas</key>
				<array>
					<string>小店区</string>
					<string>迎泽区</string>
					<string>杏花岭区</string>
					<string>尖草坪区</string>
					<string>万柏林区</string>
					<string>晋源区</string>
					<string>清徐县</string>
					<string>阳曲县</string>
					<string>娄烦县</string>
					<string>古交</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>大同市</string>
				<key>Areas</key>
				<array>
					<string>城区</string>
					<string>南郊区</string>
					<string>新荣区</string>
					<string>阳高县</string>
					<string>天镇县</string>
					<string>广灵县</string>
					<string>灵丘县</string>
					<string>浑源县</string>
					<string>左云县</string>
					<string>大同县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>阳泉市</string>
				<key>Areas</key>
				<array>
					<string>城区</string>
					<string>矿区</string>
					<string>郊区</string>
					<string>平定县</string>
					<string>盂县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>长治市</string>
				<key>Areas</key>
				<array>
					<string>城区</string>
					<string>郊区</string>
					<string>长治县</string>
					<string>襄垣县</string>
					<string>屯留县</string>
					<string>平顺县</string>
					<string>黎城县</string>
					<string>壶关县</string>
					<string>长子县</string>
					<string>武乡县</string>
					<string>沁县</string>
					<string>沁源县</string>
					<string>潞城</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>晋城市</string>
				<key>Areas</key>
				<array>
					<string>城区</string>
					<string>沁水县</string>
					<string>阳城县</string>
					<string>陵川县</string>
					<string>泽州县</string>
					<string>高平</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>朔州市</string>
				<key>Areas</key>
				<array>
					<string>朔城区</string>
					<string>平鲁区</string>
					<string>山阴县</string>
					<string>应县</string>
					<string>右玉县</string>
					<string>怀仁县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>晋中市</string>
				<key>Areas</key>
				<array>
					<string>榆次区</string>
					<string>榆社县</string>
					<string>左权县</string>
					<string>和顺县</string>
					<string>昔阳县</string>
					<string>寿阳县</string>
					<string>太谷县</string>
					<string>祁县</string>
					<string>平遥县</string>
					<string>灵石县</string>
					<string>介休</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>运城市</string>
				<key>Areas</key>
				<array>
					<string>盐湖区</string>
					<string>临猗县</string>
					<string>万荣县</string>
					<string>闻喜县</string>
					<string>稷山县</string>
					<string>新绛县</string>
					<string>绛县</string>
					<string>垣曲县</string>
					<string>夏县</string>
					<string>平陆县</string>
					<string>芮城县</string>
					<string>永济</string>
					<string>河津</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>忻州市</string>
				<key>Areas</key>
				<array>
					<string>忻府区</string>
					<string>定襄县</string>
					<string>五台县</string>
					<string>代县</string>
					<string>繁峙县</string>
					<string>宁武县</string>
					<string>静乐县</string>
					<string>神池县</string>
					<string>五寨县</string>
					<string>岢岚县</string>
					<string>河曲县</string>
					<string>保德县</string>
					<string>偏关县</string>
					<string>原平</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>临汾市</string>
				<key>Areas</key>
				<array>
					<string>尧都区</string>
					<string>曲沃县</string>
					<string>翼城县</string>
					<string>襄汾县</string>
					<string>洪洞县</string>
					<string>古县</string>
					<string>安泽县</string>
					<string>浮山县</string>
					<string>吉县</string>
					<string>乡宁县</string>
					<string>大宁县</string>
					<string>隰县</string>
					<string>永和县</string>
					<string>蒲县</string>
					<string>汾西县</string>
					<string>侯马</string>
					<string>霍州</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>吕梁市</string>
				<key>Areas</key>
				<array>
					<string>离石区</string>
					<string>文水县</string>
					<string>交城县</string>
					<string>兴县</string>
					<string>临县</string>
					<string>柳林县</string>
					<string>石楼县</string>
					<string>岚县</string>
					<string>方山县</string>
					<string>中阳县</string>
					<string>交口县</string>
					<string>孝义</string>
					<string>汾阳</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>内蒙古</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>呼和浩特市</string>
				<key>Areas</key>
				<array>
					<string>新城区</string>
					<string>回民区</string>
					<string>玉泉区</string>
					<string>赛罕区</string>
					<string>土默特左旗</string>
					<string>托克托县</string>
					<string>和林格尔县</string>
					<string>清水河县</string>
					<string>武川县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>包头市</string>
				<key>Areas</key>
				<array>
					<string>东河区</string>
					<string>昆都仑区</string>
					<string>青山区</string>
					<string>石拐区</string>
					<string>白云矿区</string>
					<string>九原区</string>
					<string>土默特右旗</string>
					<string>固阳县</string>
					<string>达尔罕茂明安联合旗</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>乌海市</string>
				<key>Areas</key>
				<array>
					<string>海勃湾区</string>
					<string>海南区</string>
					<string>乌达区</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>赤峰市</string>
				<key>Areas</key>
				<array>
					<string>红山区</string>
					<string>元宝山区</string>
					<string>松山区</string>
					<string>阿鲁科尔沁旗</string>
					<string>巴林左旗</string>
					<string>巴林右旗</string>
					<string>林西县</string>
					<string>克什克腾旗</string>
					<string>翁牛特旗</string>
					<string>喀喇沁旗</string>
					<string>宁城县</string>
					<string>敖汉旗</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>通辽市</string>
				<key>Areas</key>
				<array>
					<string>科尔沁区</string>
					<string>科尔沁左翼中旗</string>
					<string>科尔沁左翼后旗</string>
					<string>开鲁县</string>
					<string>库伦旗</string>
					<string>奈曼旗</string>
					<string>扎鲁特旗</string>
					<string>霍林郭勒</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>鄂尔多斯市</string>
				<key>Areas</key>
				<array>
					<string>东胜区</string>
					<string>达拉特旗</string>
					<string>准格尔旗</string>
					<string>鄂托克前旗</string>
					<string>鄂托克旗</string>
					<string>杭锦旗</string>
					<string>乌审旗</string>
					<string>伊金霍洛旗</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>呼伦贝尔市</string>
				<key>Areas</key>
				<array>
					<string>海拉尔区</string>
					<string>阿荣旗</string>
					<string>莫力达瓦达斡尔族自治旗</string>
					<string>鄂伦春自治旗</string>
					<string>鄂温克族自治旗</string>
					<string>陈巴尔虎旗</string>
					<string>新巴尔虎左旗</string>
					<string>新巴尔虎右旗</string>
					<string>满洲里</string>
					<string>牙克石</string>
					<string>扎兰屯</string>
					<string>额尔古纳</string>
					<string>根河</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>巴彦淖尔市</string>
				<key>Areas</key>
				<array>
					<string>临河区</string>
					<string>五原县</string>
					<string>磴口县</string>
					<string>乌拉特前旗</string>
					<string>乌拉特中旗</string>
					<string>乌拉特后旗</string>
					<string>杭锦后旗</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>乌兰察布市</string>
				<key>Areas</key>
				<array>
					<string>集宁区</string>
					<string>卓资县</string>
					<string>化德县</string>
					<string>商都县</string>
					<string>兴和县</string>
					<string>凉城县</string>
					<string>察哈尔右翼前旗</string>
					<string>察哈尔右翼中旗</string>
					<string>察哈尔右翼后旗</string>
					<string>四子王旗</string>
					<string>丰镇</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>兴安盟</string>
				<key>Areas</key>
				<array>
					<string>乌兰浩特</string>
					<string>阿尔山</string>
					<string>科尔沁右翼前旗</string>
					<string>科尔沁右翼中旗</string>
					<string>扎赉特旗</string>
					<string>突泉县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>锡林郭勒盟</string>
				<key>Areas</key>
				<array>
					<string>二连浩特</string>
					<string>锡林浩特</string>
					<string>阿巴嘎旗</string>
					<string>苏尼特左旗</string>
					<string>苏尼特右旗</string>
					<string>东乌珠穆沁旗</string>
					<string>西乌珠穆沁旗</string>
					<string>太仆寺旗</string>
					<string>镶黄旗</string>
					<string>正镶白旗</string>
					<string>正蓝旗</string>
					<string>多伦县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>阿拉善盟</string>
				<key>Areas</key>
				<array>
					<string>阿拉善左旗</string>
					<string>阿拉善右旗</string>
					<string>额济纳旗</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>辽宁省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>沈阳市</string>
				<key>Areas</key>
				<array>
					<string>和平区</string>
					<string>沈河区</string>
					<string>大东区</string>
					<string>皇姑区</string>
					<string>铁西区</string>
					<string>苏家屯区</string>
					<string>东陵区</string>
					<string>新城子区</string>
					<string>于洪区</string>
					<string>辽中县</string>
					<string>康平县</string>
					<string>法库县</string>
					<string>新民</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>大连市</string>
				<key>Areas</key>
				<array>
					<string>中山区</string>
					<string>西岗区</string>
					<string>沙河口区</string>
					<string>甘井子区</string>
					<string>旅顺口区</string>
					<string>金州区</string>
					<string>长海县</string>
					<string>瓦房店</string>
					<string>普兰店</string>
					<string>庄河</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>鞍山市</string>
				<key>Areas</key>
				<array>
					<string>铁东区</string>
					<string>铁西区</string>
					<string>立山区</string>
					<string>千山区</string>
					<string>台安县</string>
					<string>岫岩满族自治县</string>
					<string>海城</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>抚顺市</string>
				<key>Areas</key>
				<array>
					<string>新抚区</string>
					<string>东洲区</string>
					<string>望花区</string>
					<string>顺城区</string>
					<string>抚顺县</string>
					<string>新宾满族自治县</string>
					<string>清原满族自治县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>本溪市</string>
				<key>Areas</key>
				<array>
					<string>平山区</string>
					<string>溪湖区</string>
					<string>明山区</string>
					<string>南芬区</string>
					<string>本溪满族自治县</string>
					<string>桓仁满族自治县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>丹东市</string>
				<key>Areas</key>
				<array>
					<string>元宝区</string>
					<string>振兴区</string>
					<string>振安区</string>
					<string>宽甸满族自治县</string>
					<string>东港</string>
					<string>凤城</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>锦州市</string>
				<key>Areas</key>
				<array>
					<string>古塔区</string>
					<string>凌河区</string>
					<string>太和区</string>
					<string>黑山县</string>
					<string>义县</string>
					<string>凌海</string>
					<string>北宁</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>营口市</string>
				<key>Areas</key>
				<array>
					<string>站前区</string>
					<string>西区</string>
					<string>鲅鱼圈区</string>
					<string>老边区</string>
					<string>盖州</string>
					<string>大石桥</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>阜新市</string>
				<key>Areas</key>
				<array>
					<string>海州区</string>
					<string>新邱区</string>
					<string>太平区</string>
					<string>清河门区</string>
					<string>细河区</string>
					<string>阜新蒙古族自治县</string>
					<string>彰武县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>辽阳市</string>
				<key>Areas</key>
				<array>
					<string>白塔区</string>
					<string>文圣区</string>
					<string>宏伟区</string>
					<string>弓长岭区</string>
					<string>太子河区</string>
					<string>辽阳县</string>
					<string>灯塔</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>盘锦市</string>
				<key>Areas</key>
				<array>
					<string>双台子区</string>
					<string>兴隆台区</string>
					<string>大洼县</string>
					<string>盘山县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>铁岭市</string>
				<key>Areas</key>
				<array>
					<string>银州区</string>
					<string>清河区</string>
					<string>铁岭县</string>
					<string>西丰县</string>
					<string>昌图县</string>
					<string>调兵山</string>
					<string>开原</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>朝阳市</string>
				<key>Areas</key>
				<array>
					<string>双塔区</string>
					<string>龙城区</string>
					<string>朝阳县</string>
					<string>建平县</string>
					<string>喀喇沁左翼蒙古族自治县</string>
					<string>北票</string>
					<string>凌源</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>葫芦岛市</string>
				<key>Areas</key>
				<array>
					<string>连山区</string>
					<string>龙港区</string>
					<string>南票区</string>
					<string>绥中县</string>
					<string>建昌县</string>
					<string>兴城</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>吉林省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>长春市</string>
				<key>Areas</key>
				<array>
					<string>南关区</string>
					<string>宽城区</string>
					<string>朝阳区</string>
					<string>二道区</string>
					<string>绿园区</string>
					<string>双阳区</string>
					<string>农安县</string>
					<string>九台</string>
					<string>榆树</string>
					<string>德惠</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>吉林市</string>
				<key>Areas</key>
				<array>
					<string>昌邑区</string>
					<string>龙潭区</string>
					<string>船营区</string>
					<string>丰满区</string>
					<string>永吉县</string>
					<string>蛟河</string>
					<string>桦甸</string>
					<string>舒兰</string>
					<string>磐石</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>四平市</string>
				<key>Areas</key>
				<array>
					<string>铁西区</string>
					<string>铁东区</string>
					<string>梨树县</string>
					<string>伊通满族自治县</string>
					<string>公主岭</string>
					<string>双辽</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>辽源市</string>
				<key>Areas</key>
				<array>
					<string>龙山区</string>
					<string>西安区</string>
					<string>东丰县</string>
					<string>东辽县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>通化市</string>
				<key>Areas</key>
				<array>
					<string>东昌区</string>
					<string>二道江区</string>
					<string>通化县</string>
					<string>辉南县</string>
					<string>柳河县</string>
					<string>梅河口</string>
					<string>集安</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>白山市</string>
				<key>Areas</key>
				<array>
					<string>八道江区</string>
					<string>抚松县</string>
					<string>靖宇县</string>
					<string>长白朝鲜族自治县</string>
					<string>江源县</string>
					<string>临江</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>松原市</string>
				<key>Areas</key>
				<array>
					<string>宁江区</string>
					<string>前郭尔罗斯蒙古族自治县</string>
					<string>长岭县</string>
					<string>乾安县</string>
					<string>扶余县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>白城市</string>
				<key>Areas</key>
				<array>
					<string>洮北区</string>
					<string>镇赉县</string>
					<string>通榆县</string>
					<string>洮南</string>
					<string>大安</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>延边朝鲜族自治州</string>
				<key>Areas</key>
				<array>
					<string>延吉</string>
					<string>图们</string>
					<string>敦化</string>
					<string>珲春</string>
					<string>龙井</string>
					<string>和龙</string>
					<string>汪清县</string>
					<string>安图县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>黑龙江</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>哈尔滨市</string>
				<key>Areas</key>
				<array>
					<string>道里区</string>
					<string>南岗区</string>
					<string>道外区</string>
					<string>香坊区</string>
					<string>动力区</string>
					<string>平房区</string>
					<string>松北区</string>
					<string>呼兰区</string>
					<string>依兰县</string>
					<string>方正县</string>
					<string>宾县</string>
					<string>巴彦县</string>
					<string>木兰县</string>
					<string>通河县</string>
					<string>延寿县</string>
					<string>阿城</string>
					<string>双城</string>
					<string>尚志</string>
					<string>五常</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>齐齐哈尔市</string>
				<key>Areas</key>
				<array>
					<string>龙沙区</string>
					<string>建华区</string>
					<string>铁锋区</string>
					<string>昂昂溪区</string>
					<string>富拉尔基区</string>
					<string>碾子山区</string>
					<string>梅里斯达斡尔族区</string>
					<string>龙江县</string>
					<string>依安县</string>
					<string>泰来县</string>
					<string>甘南县</string>
					<string>富裕县</string>
					<string>克山县</string>
					<string>克东县</string>
					<string>拜泉县</string>
					<string>讷河</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>鸡西市</string>
				<key>Areas</key>
				<array>
					<string>鸡冠区</string>
					<string>恒山区</string>
					<string>滴道区</string>
					<string>梨树区</string>
					<string>城子河区</string>
					<string>麻山区</string>
					<string>鸡东县</string>
					<string>虎林</string>
					<string>密山</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>鹤岗市</string>
				<key>Areas</key>
				<array>
					<string>向阳区</string>
					<string>工农区</string>
					<string>南山区</string>
					<string>兴安区</string>
					<string>东山区</string>
					<string>兴山区</string>
					<string>萝北县</string>
					<string>绥滨县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>双鸭山市</string>
				<key>Areas</key>
				<array>
					<string>尖山区</string>
					<string>岭东区</string>
					<string>四方台区</string>
					<string>宝山区</string>
					<string>集贤县</string>
					<string>友谊县</string>
					<string>宝清县</string>
					<string>饶河县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>大庆市</string>
				<key>Areas</key>
				<array>
					<string>萨尔图区</string>
					<string>龙凤区</string>
					<string>让胡路区</string>
					<string>红岗区</string>
					<string>大同区</string>
					<string>肇州县</string>
					<string>肇源县</string>
					<string>林甸县</string>
					<string>杜尔伯特蒙古族自治县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>伊春市</string>
				<key>Areas</key>
				<array>
					<string>伊春区</string>
					<string>南岔区</string>
					<string>友好区</string>
					<string>西林区</string>
					<string>翠峦区</string>
					<string>新青区</string>
					<string>美溪区</string>
					<string>金山屯区</string>
					<string>五营区</string>
					<string>乌马河区</string>
					<string>汤旺河区</string>
					<string>带岭区</string>
					<string>乌伊岭区</string>
					<string>红星区</string>
					<string>上甘岭区</string>
					<string>嘉荫县</string>
					<string>铁力</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>佳木斯市</string>
				<key>Areas</key>
				<array>
					<string>永红区</string>
					<string>向阳区</string>
					<string>前进区</string>
					<string>东风区</string>
					<string>郊区</string>
					<string>桦南县</string>
					<string>桦川县</string>
					<string>汤原县</string>
					<string>抚远县</string>
					<string>同江</string>
					<string>富锦</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>七台河市</string>
				<key>Areas</key>
				<array>
					<string>新兴区</string>
					<string>桃山区</string>
					<string>茄子河区</string>
					<string>勃利县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>牡丹江市</string>
				<key>Areas</key>
				<array>
					<string>东安区</string>
					<string>阳明区</string>
					<string>爱民区</string>
					<string>西安区</string>
					<string>东宁县</string>
					<string>林口县</string>
					<string>绥芬河</string>
					<string>海林</string>
					<string>宁安</string>
					<string>穆棱</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>黑河市</string>
				<key>Areas</key>
				<array>
					<string>爱辉区</string>
					<string>嫩江县</string>
					<string>逊克县</string>
					<string>孙吴县</string>
					<string>北安</string>
					<string>五大连池</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>绥化市</string>
				<key>Areas</key>
				<array>
					<string>北林区</string>
					<string>望奎县</string>
					<string>兰西县</string>
					<string>青冈县</string>
					<string>庆安县</string>
					<string>明水县</string>
					<string>绥棱县</string>
					<string>安达</string>
					<string>肇东</string>
					<string>海伦</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>大兴安岭地区</string>
				<key>Areas</key>
				<array>
					<string>呼玛县</string>
					<string>塔河县</string>
					<string>漠河县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>上海市</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>上海市</string>
				<key>Areas</key>
				<array>
					<string>黄浦区</string>
					<string>卢湾区</string>
					<string>徐汇区</string>
					<string>长宁区</string>
					<string>静安区</string>
					<string>普陀区</string>
					<string>闸北区</string>
					<string>虹口区</string>
					<string>杨浦区</string>
					<string>闵行区</string>
					<string>宝山区</string>
					<string>嘉定区</string>
					<string>浦东新区</string>
					<string>金山区</string>
					<string>松江区</string>
					<string>青浦区</string>
					<string>南汇区</string>
					<string>奉贤区</string>
					<string>崇明县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>江苏省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>南京市</string>
				<key>Areas</key>
				<array>
					<string>玄武区</string>
					<string>白下区</string>
					<string>秦淮区</string>
					<string>建邺区</string>
					<string>鼓楼区</string>
					<string>下关区</string>
					<string>浦口区</string>
					<string>栖霞区</string>
					<string>雨花台区</string>
					<string>江宁区</string>
					<string>六合区</string>
					<string>溧水县</string>
					<string>高淳县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>无锡市</string>
				<key>Areas</key>
				<array>
					<string>崇安区</string>
					<string>南长区</string>
					<string>北塘区</string>
					<string>锡山区</string>
					<string>惠山区</string>
					<string>滨湖区</string>
					<string>江阴</string>
					<string>宜兴</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>徐州市</string>
				<key>Areas</key>
				<array>
					<string>鼓楼区</string>
					<string>云龙区</string>
					<string>九里区</string>
					<string>贾汪区</string>
					<string>泉山区</string>
					<string>丰县</string>
					<string>沛县</string>
					<string>铜山县</string>
					<string>睢宁县</string>
					<string>新沂</string>
					<string>邳州</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>常州市</string>
				<key>Areas</key>
				<array>
					<string>天宁区</string>
					<string>钟楼区</string>
					<string>戚墅堰区</string>
					<string>新北区</string>
					<string>武进区</string>
					<string>溧阳</string>
					<string>金坛</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>苏州市</string>
				<key>Areas</key>
				<array>
					<string>沧浪区</string>
					<string>平江区</string>
					<string>金阊区</string>
					<string>虎丘区</string>
					<string>吴中区</string>
					<string>相城区</string>
					<string>常熟</string>
					<string>张家港</string>
					<string>昆山</string>
					<string>吴江</string>
					<string>太仓</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>南通市</string>
				<key>Areas</key>
				<array>
					<string>崇川区</string>
					<string>港闸区</string>
					<string>海安县</string>
					<string>如东县</string>
					<string>启东</string>
					<string>如皋</string>
					<string>通州</string>
					<string>海门</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>连云港市</string>
				<key>Areas</key>
				<array>
					<string>连云区</string>
					<string>新浦区</string>
					<string>海州区</string>
					<string>赣榆县</string>
					<string>东海县</string>
					<string>灌云县</string>
					<string>灌南县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>淮安市</string>
				<key>Areas</key>
				<array>
					<string>清河区</string>
					<string>楚州区</string>
					<string>淮阴区</string>
					<string>清浦区</string>
					<string>涟水县</string>
					<string>洪泽县</string>
					<string>盱眙县</string>
					<string>金湖县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>盐城市</string>
				<key>Areas</key>
				<array>
					<string>亭湖区</string>
					<string>盐都区</string>
					<string>响水县</string>
					<string>滨海县</string>
					<string>阜宁县</string>
					<string>射阳县</string>
					<string>建湖县</string>
					<string>东台</string>
					<string>大丰</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>扬州市</string>
				<key>Areas</key>
				<array>
					<string>广陵区</string>
					<string>邗江区</string>
					<string>维扬区</string>
					<string>宝应县</string>
					<string>仪征</string>
					<string>高邮</string>
					<string>江都</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>镇江市</string>
				<key>Areas</key>
				<array>
					<string>京口区</string>
					<string>润州区</string>
					<string>丹徒区</string>
					<string>丹阳</string>
					<string>扬中</string>
					<string>句容</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>泰州市</string>
				<key>Areas</key>
				<array>
					<string>海陵区</string>
					<string>高港区</string>
					<string>兴化</string>
					<string>靖江</string>
					<string>泰兴</string>
					<string>姜堰</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>宿迁市</string>
				<key>Areas</key>
				<array>
					<string>宿城区</string>
					<string>宿豫区</string>
					<string>沭阳县</string>
					<string>泗阳县</string>
					<string>泗洪县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>浙江省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>杭州市</string>
				<key>Areas</key>
				<array>
					<string>上城区</string>
					<string>下城区</string>
					<string>江干区</string>
					<string>拱墅区</string>
					<string>西湖区</string>
					<string>滨江区</string>
					<string>萧山区</string>
					<string>余杭区</string>
					<string>桐庐县</string>
					<string>淳安县</string>
					<string>建德</string>
					<string>富阳</string>
					<string>临安</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>宁波市</string>
				<key>Areas</key>
				<array>
					<string>海曙区</string>
					<string>江东区</string>
					<string>江北区</string>
					<string>北仑区</string>
					<string>镇海区</string>
					<string>鄞州区</string>
					<string>象山县</string>
					<string>宁海县</string>
					<string>余姚</string>
					<string>慈溪</string>
					<string>奉化</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>温州市</string>
				<key>Areas</key>
				<array>
					<string>鹿城区</string>
					<string>龙湾区</string>
					<string>瓯海区</string>
					<string>洞头县</string>
					<string>永嘉县</string>
					<string>平阳县</string>
					<string>苍南县</string>
					<string>文成县</string>
					<string>泰顺县</string>
					<string>瑞安</string>
					<string>乐清</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>嘉兴市</string>
				<key>Areas</key>
				<array>
					<string>秀城区</string>
					<string>秀洲区</string>
					<string>嘉善县</string>
					<string>海盐县</string>
					<string>海宁</string>
					<string>平湖</string>
					<string>桐乡</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>湖州市</string>
				<key>Areas</key>
				<array>
					<string>吴兴区</string>
					<string>南浔区</string>
					<string>德清县</string>
					<string>长兴县</string>
					<string>安吉县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>绍兴市</string>
				<key>Areas</key>
				<array>
					<string>越城区</string>
					<string>绍兴县</string>
					<string>新昌县</string>
					<string>诸暨</string>
					<string>上虞</string>
					<string>嵊州</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>金华市</string>
				<key>Areas</key>
				<array>
					<string>婺城区</string>
					<string>金东区</string>
					<string>武义县</string>
					<string>浦江县</string>
					<string>磐安县</string>
					<string>兰溪</string>
					<string>义乌</string>
					<string>东阳</string>
					<string>永康</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>衢州市</string>
				<key>Areas</key>
				<array>
					<string>柯城区</string>
					<string>衢江区</string>
					<string>常山县</string>
					<string>开化县</string>
					<string>龙游县</string>
					<string>江山</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>舟山市</string>
				<key>Areas</key>
				<array>
					<string>定海区</string>
					<string>普陀区</string>
					<string>岱山县</string>
					<string>嵊泗县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>台州市</string>
				<key>Areas</key>
				<array>
					<string>椒江区</string>
					<string>黄岩区</string>
					<string>路桥区</string>
					<string>玉环县</string>
					<string>三门县</string>
					<string>天台县</string>
					<string>仙居县</string>
					<string>温岭</string>
					<string>临海</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>丽水市</string>
				<key>Areas</key>
				<array>
					<string>莲都区</string>
					<string>青田县</string>
					<string>缙云县</string>
					<string>遂昌县</string>
					<string>松阳县</string>
					<string>云和县</string>
					<string>庆元县</string>
					<string>景宁畲族自治县</string>
					<string>龙泉</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>安徽省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>合肥市</string>
				<key>Areas</key>
				<array>
					<string>瑶海区</string>
					<string>庐阳区</string>
					<string>蜀山区</string>
					<string>包河区</string>
					<string>长丰县</string>
					<string>肥东县</string>
					<string>肥西县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>芜湖市</string>
				<key>Areas</key>
				<array>
					<string>镜湖区</string>
					<string>马塘区</string>
					<string>新芜区</string>
					<string>鸠江区</string>
					<string>芜湖县</string>
					<string>繁昌县</string>
					<string>南陵县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>蚌埠市</string>
				<key>Areas</key>
				<array>
					<string>龙子湖区</string>
					<string>蚌山区</string>
					<string>禹会区</string>
					<string>淮上区</string>
					<string>怀远县</string>
					<string>五河县</string>
					<string>固镇县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>淮南市</string>
				<key>Areas</key>
				<array>
					<string>大通区</string>
					<string>田家庵区</string>
					<string>谢家集区</string>
					<string>八公山区</string>
					<string>潘集区</string>
					<string>凤台县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>马鞍山市</string>
				<key>Areas</key>
				<array>
					<string>金家庄区</string>
					<string>花山区</string>
					<string>雨山区</string>
					<string>当涂县</string>
					<string>杜集区</string>
					<string>相山区</string>
					<string>烈山区</string>
					<string>濉溪县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>淮北市</string>
				<key>Areas</key>
				<array>
					<string>金家庄区</string>
					<string>花山区</string>
					<string>雨山区</string>
					<string>当涂县</string>
					<string>杜集区</string>
					<string>相山区</string>
					<string>烈山区</string>
					<string>濉溪县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>铜陵市</string>
				<key>Areas</key>
				<array>
					<string>铜官山区</string>
					<string>狮子山区</string>
					<string>郊区</string>
					<string>铜陵县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>安庆市</string>
				<key>Areas</key>
				<array>
					<string>迎江区</string>
					<string>大观区</string>
					<string>郊区</string>
					<string>怀宁县</string>
					<string>枞阳县</string>
					<string>潜山县</string>
					<string>太湖县</string>
					<string>宿松县</string>
					<string>望江县</string>
					<string>岳西县</string>
					<string>桐城</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>黄山市</string>
				<key>Areas</key>
				<array>
					<string>屯溪区</string>
					<string>黄山区</string>
					<string>徽州区</string>
					<string>歙县</string>
					<string>休宁县</string>
					<string>黟县</string>
					<string>祁门县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>滁州市</string>
				<key>Areas</key>
				<array>
					<string>琅琊区</string>
					<string>南谯区</string>
					<string>来安县</string>
					<string>全椒县</string>
					<string>定远县</string>
					<string>凤阳县</string>
					<string>天长</string>
					<string>明光</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>阜阳市</string>
				<key>Areas</key>
				<array>
					<string>颍州区</string>
					<string>颍东区</string>
					<string>颍泉区</string>
					<string>临泉县</string>
					<string>太和县</string>
					<string>阜南县</string>
					<string>颍上县</string>
					<string>界首</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>宿州市</string>
				<key>Areas</key>
				<array>
					<string>埇桥区</string>
					<string>砀山县</string>
					<string>萧县</string>
					<string>灵璧县</string>
					<string>泗县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>巢湖市</string>
				<key>Areas</key>
				<array>
					<string>居巢区</string>
					<string>庐江县</string>
					<string>无为县</string>
					<string>含山县</string>
					<string>和县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>六安市</string>
				<key>Areas</key>
				<array>
					<string>金安区</string>
					<string>裕安区</string>
					<string>寿县</string>
					<string>霍邱县</string>
					<string>舒城县</string>
					<string>金寨县</string>
					<string>霍山县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>亳州市</string>
				<key>Areas</key>
				<array>
					<string>谯城区</string>
					<string>涡阳县</string>
					<string>蒙城县</string>
					<string>利辛县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>池州市</string>
				<key>Areas</key>
				<array>
					<string>贵池区</string>
					<string>东至县</string>
					<string>石台县</string>
					<string>青阳县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>宣城市</string>
				<key>Areas</key>
				<array>
					<string>宣州区</string>
					<string>郎溪县</string>
					<string>广德县</string>
					<string>泾县</string>
					<string>绩溪县</string>
					<string>旌德县</string>
					<string>宁国</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>福建省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>福州市</string>
				<key>Areas</key>
				<array>
					<string>鼓楼区</string>
					<string>台江区</string>
					<string>仓山区</string>
					<string>马尾区</string>
					<string>晋安区</string>
					<string>闽侯县</string>
					<string>连江县</string>
					<string>罗源县</string>
					<string>闽清县</string>
					<string>永泰县</string>
					<string>平潭县</string>
					<string>福清</string>
					<string>长乐</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>厦门市</string>
				<key>Areas</key>
				<array>
					<string>思明区</string>
					<string>海沧区</string>
					<string>湖里区</string>
					<string>集美区</string>
					<string>同安区</string>
					<string>翔安区</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>莆田市</string>
				<key>Areas</key>
				<array>
					<string>城厢区</string>
					<string>涵江区</string>
					<string>荔城区</string>
					<string>秀屿区</string>
					<string>仙游县</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>三明市</string>
				<key>Areas</key>
				<array>
					<string>梅列区</string>
					<string>三元区</string>
					<string>明溪县</string>
					<string>清流县</string>
					<string>宁化县</string>
					<string>大田县</string>
					<string>尤溪县</string>
					<string>沙县</string>
					<string>将乐县</string>
					<string>泰宁县</string>
					<string>建宁县</string>
					<string>永安</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>泉州市</string>
				<key>Areas</key>
				<array>
					<string>鲤城区</string>
					<string>丰泽区</string>
					<string>洛江区</string>
					<string>泉港区</string>
					<string>惠安县</string>
					<string>安溪县</string>
					<string>永春县</string>
					<string>德化县</string>
					<string>金门县</string>
					<string>石狮</string>
					<string>晋江</string>
					<string>南安</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>漳州市</string>
				<key>Areas</key>
				<array>
					<string>芗城区</string>
					<string>龙文区</string>
					<string>云霄县</string>
					<string>漳浦县</string>
					<string>诏安县</string>
					<string>长泰县</string>
					<string>东山县</string>
					<string>南靖县</string>
					<string>平和县</string>
					<string>华安县</string>
					<string>龙海</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>南平市</string>
				<key>Areas</key>
				<array>
					<string>延平区</string>
					<string>顺昌县</string>
					<string>浦城县</string>
					<string>光泽县</string>
					<string>松溪县</string>
					<string>政和县</string>
					<string>邵武</string>
					<string>武夷山</string>
					<string>建瓯</string>
					<string>建阳</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>龙岩市</string>
				<key>Areas</key>
				<array>
					<string>新罗区</string>
					<string>长汀县</string>
					<string>永定县</string>
					<string>上杭县</string>
					<string>武平县</string>
					<string>连城县</string>
					<string>漳平</string>
				</array>
			</dict>
			<dict>
				<key>Areaname</key>
				<string>宁德市</string>
				<key>Areas</key>
				<array>
					<string>蕉城区</string>
					<string>霞浦县</string>
					<string>古田县</string>
					<string>屏南县</string>
					<string>寿宁县</string>
					<string>周宁县</string>
					<string>柘荣县</string>
					<string>福安</string>
					<string>福鼎</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>江西省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>山东省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>河南省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>湖北省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>湖南省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>广东省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>广西省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>海南省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>重庆市</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>四川省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>贵州省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>云南省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>西藏</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>陕西省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>甘肃省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>青海省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>宁夏</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>新疆</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string></string>
				<key>Areas</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>香港</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>香港特别行政区</string>
				<key>Areas</key>
				<array>
					<string>香港</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>澳门</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>澳门特别行政区</string>
				<key>Areas</key>
				<array>
					<string>澳门</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>台湾省</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>Areaname</key>
				<string>台湾</string>
				<key>Areas</key>
				<array>
					<string>台湾</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
